.spinner {
  align-items: center;
  display: none;
}

.spinner_visible {
  display: flex;
}

.spinner-icon {
  color: var(--color-red-100);
  margin-right: 16px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
