.jokes-card {
  width: 100%;
  max-width: 570px;
  padding: 60px 78px 78px;
  background: var(--color-red-opacity-light);
  border: 2px solid var(--color-red-100);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 20px;
}

.jokes-card__button {
  padding: 0;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

.jokes-card__button-icon {
  color: transparent;
  transition: color ease-in .2s;
}

.jokes-card__button_active .jokes-card__button-icon {
  color: var(--color-red-100);
}

.jokes-card__button-icon:hover {
  color: var(--color-red-100);
}
