.button {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none;
  border-radius: 50px;
  font: var(--font-0);
  background-color: var(--color-red-100);
  color: var(--color-white);
  transition: background-color ease-in 0.2s;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-red-200);
}

.button:disabled {
  background-color: var(--color-red-300);
  cursor: auto;
}
