.hero {
  padding-bottom: 160px;
}

.hero__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url('../../assets/images/background-small.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
}

.hero__title {
  margin-bottom: 20px;
  padding-right: 158px;
}
