@import url("./reset.css");
@import url("./bootstrap-grid.css");
@import url("./fonts.css");
@import url("../components/ui-kit/ui-kit.css");
@import url("./blocks.css");
@import url("./main.css");

:root {
  /* colors */
  --color-red-100: #B11B1B;
  --color-red-200: #811111;
  --color-red-300: #654040;
  --color-black: #101010;
  --color-white: #F9F9F9;
  --color-red-opacity-light: rgba(177, 27, 27, 0.05);
  --color-red-opacity-dark: rgba(129, 17, 17, 0.7);;

  /* font  */
  --font-1: 400 60px/72px 'RubikWetPaint';
  --font-0: 400 24px/28px 'Roboto';
}

body {
  font-family: 'Roboto', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}
