.description {
  text-align: center;
  font: var(--font-0);
}

.description_align_left {
  text-align: left;
}

.description_color_light {
  color: var(--color-white);
}

.description_color_dark {
  color: var(--color-black);
}
