.jokes {
  background-color: var(--color-red-opacity-light);
}

.jokes__heading {
  margin-bottom: 40px;
}

.jokes__title {
  margin-right: 40px;
}

.jokes__button {
  max-width: 276px;
  margin-right: 40px;
}

.jokes__cards {
  row-gap: 20px;
}
