.steps__row {
  margin-bottom: 60px;
}

.steps__title {
  margin-bottom: 60px;
  padding-right: 276px;
}

.steps__item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.steps__item:not(:last-of-type) {
  margin-bottom: 46px;
}

.steps__item-title {
  min-width: 78px;
}

.steps__link {
  color: inherit;
  text-decoration: underline;
}
