.header {
  margin-bottom: -70px;
  position: relative;
  z-index: 2; /*хэдер должен быть на слой выше блока hero*/
}

.header__link {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header__link:not(:last-of-type) {
  margin-right: 104px;
}

.header__link-img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  color: transparent;
  transition: color ease-in .2s;
}

.header__link:hover .header__link-img {
  color: var(--color-red-100);
}

.header__link-text {
  font: var(--font-0);
  color: var(--color-black);
  transition: color ease-in .2s;
}

.header__link:hover .header__link-text {
  color: var(--color-red-100);
}

.header__link_active .header__link-text {
  color: var(--color-red-100);
}

.header__link_active:hover .header__link-text {
  color: var(--color-red-opacity-dark);
}

