.favouritesHero {
  padding-bottom: 0;
}

.favouritesHero__title {
  margin-bottom: 40px;
}

.favouritesHero__description {
  margin-bottom: 40px;
}

.favouritesHero__img {
  height: 320px;
}

.favouritesHero__button {
  max-width: 276px;
}

